.location_map {
  width: 343px;
  height: 395px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  /* filter: grayscale(100%) contrast(90%) brightness(95%); */
}

@media screen and (min-width: 768px) {
  .location_map {
    width: 704px;
    height: 395px;
  }
}

@media screen and (min-width: 1440px) {
  .location_map {
    width: 1312px;
    height: 738px;
  }
}
