.location_list {
}

.location_list_item {
  display: flex;
}

.location_list_item:not(:last-child) {
  margin: 0 0 24px 0;
}
.location_item_subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #eadfcc;
  margin: 0 0 8px 0;
  display: block;
}

.location_item_contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #eadfcc;
}

.location_icon {
  width: 20px;
  height: 17px;
  margin: 0 18px 0 0;
  color: #eadfcc;
}
