.list {
  width: 415px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list_item {
}
.list_item_link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 150%;
  color: #eadfcc;
  text-decoration: none;
  padding-bottom: 2px;
  transition: color 0.25s ease;
}

.list_item_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #e9dbc2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.list_item_link:hover {
  color: #e9dbc2;
  scale: 1.1;
}

.list_item_link:hover::after {
  transform: scaleX(1);
}

.list_item_link:focus-visible {
  outline: none;
}

.list_item_link:focus-visible::after {
  transform: scaleX(1);
}

@media screen and (max-width: 1439px) {
  .nav {
    display: none;
  }
}
