.footer {
  padding: 80px 16px;
  margin: 0 auto;
  background-color: #1a1a1a;
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 80px 64px;
  }
  .footer_logo {
    margin: 0 0 32px 0;
  }
}
