.container {
  padding: 64px 0;
}

.heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #f3ebdd;
  margin: 0 0 24px 0;
}

@media screen and (min-width: 1440px) {
  .heading {
    font-size: 48px;
  }
}
